body{
		background-image: url(https://raw.githubusercontent.com/clarasdfgh/Crilux_web/main/Recursos/bg.png);
		background-size: cover;
		background-position: center center;
		font-family: calibri;
		color: black;
	}

	h1{
		color:white;
		font-family:impact;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 2px #314453, 1px 0 black, 0 -1px black;
		font-size:500%;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	h2{
		color: grey;
		text-indent: 20px;
		font-style: italic;
		font-size: 140%;
		font-family: times new roman;
	}

	h3{
		font-family: verdana;
		font-weight: bold;
		font-size: 110%;
	}

	p{
		font-family: calibri;
		font-weight: light;
		text-align: left;
	}

	table{
		font-family:verdana;
		text-align:centre;
		background-color:#464647;
		color:white;
		width:100%;
		length:200%;
	}

	a{
		color:#686868;
	}

	header{
		background-color:white;
		color:#CCFFFF;
		/*border:5px solid black;*/
		padding: 20px;
		border-radius: 5px
	}

	nav{
		position: absolute;
		background-color: white;
		border-radius: 5px;
		color: white;
		margin-top: 30px;
		margin-left: 0px;
		height: 100%;
		width: 400px;
		z-index: 1;
	}

	ul{
		list-style-type: none;
		text-align: left;
		font-size: 200%;
	}

	li{
		margin-bottom: 20px;
		margin-left: 0px;
		text-align: left;
		font-family: verdana;
		font-style: italic;
	}

	a.nav{
		color: white;
	}

	article{
		margin-left: 210px;
		margin-bottom: 40px;
	}

	page-container {
	  position: relative;
	  min-height: 100vh;
	}

	content-wrap {
	  padding-bottom: 2.5rem;    /* Footer height */
	}


	footer{
		margin-bottom: 0px
		position: absolute;
		color: #314453;
		width: 100%;
	  height: 2.5rem;            /* Footer height */
	}
